apturl==0.5.2
atomicwrites==1.1.5
attrs==18.1.0
beautifulsoup4==4.4.1
Brlapi==0.6.4
certifi==2018.4.16
chardet==2.3.0
chrome-gnome-shell==0.0.0
defer==1.0.6
Django==2.1
django-filter==2.0.0
django-oauth-toolkit==1.2.0
django-widget-tweaks==1.4.2
djangorestframework==3.8.2
djangorestframework-filters==0.10.2
html5lib==0.999
httplib2==0.11.3
idna==2.7
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
MarkupSafe==0.23
more-itertools==4.3.0
oauth==1.0.1
oauth-provider==1.1
oauth2==1.9.0.post1
oauth2-provider==0.0
oauthlib==2.1.0
pathlib2==2.3.2
pexpect==4.0.1
Pillow==6.2.0
pluggy==0.7.1
psycopg2==2.7.5
psycopg2-binary==2.7.5
ptyprocess==0.5
py==1.5.4
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
pytest==3.7.1
python-apt==1.1.0b1+ubuntu0.16.4.2
python-debian==0.1.27
python-systemd==231
pytz==2018.5
pyxdg==0.25
reportlab==3.3.0
requests==2.9.1
six==1.10.0
system-service==0.3
ubuntu-drivers-common==0.0.0
unattended-upgrades==0.1
urllib3==1.13.1
usb-creator==0.3.0
xdiagnose==3.8.4.1
xkit==0.0.0
